[submodule "themes/hugo-theme"]
	path = themes/hugo-theme
	# url = https://github.com/sebousan/hugo-theme
	url = git@github.com:sebousan/hugo-theme.git

[submodule "static/admin"]
	path = static/admin
	#url = https://github.com/sebousan/hugo-netlify-cms-template
	url = git@github.com:sebousan/hugo-netlify-cms-template.git
