// https://github.com/twbs/bootstrap/blob/v5.2.2/scss/_variables.scss

// Breadcrumb
$breadcrumb-font-size: px2rem(12)
$breadcrumb-margin-bottom: 0
$breadcrumb-padding-y: px2rem(10)

// Pagination
$pagination-padding-y: .5rem
$pagination-padding-x: .75rem
